{%  extends 'twim_skill_site/templates/base.html' %}
{% load templatetags %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="header">
    {% if user.is_authenticated %}
    {% with faceit_user_data=user_data.faceit_user_data %}
    <p>facietlvl: {% if faceit_user_data %} {{ faceit_user_data.games.0.skill_level }} {% else %} НЕТ ДАННЫХ {% endif %}, twim coin: {{ user.balance|remove_trailing_zeros  }}, twim-lvl: {{ user.experience }}</p>
    {% endwith %}
    <a href="/profile">Профиль</a>
    {% else %}
    {% load socialaccount %}
    {% get_providers as socialaccount_providers %}
    {% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
    {% endif %}
      <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
         href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">Войти через {{provider.name}}</a>
    {% endfor %}
{% endif %}
</div>



<div id="content">
    {% if lobbies %}
    <h1>Доступные серверы</h1>

    <ul id="servers">
        <!-- Здесь будут добавляться серверы динамически -->
        {% for lobby in lobbies %}
        <li>
            <p>ID лобби: {{ lobby.pk }}</p>
            <p>Карта: {{ lobby.map }}</p>
            <p>Ставка: {{ lobby.bet }}</p>
            <p>Тип игры: НЕТ ДАННЫХ</p>
            <p>Свободных мест: НЕТ ДАННЫХ</p>
            <p>Требуемый уровень: {{ lobby.max_lvl_enter }}+</p>

            {% if user_lobby_data.user_in_lobby.lobby.pk == lobby.pk %}
            <a href="{% url 'detail_lobby' slug=user_lobby_data.user_lobby_slug %}">
            <button>Вернуться к лобби</button>
            </a>

            {% elif not user_lobby_data.user_in_lobby.lobby.pk %}
            <a href="{% url 'detail_lobby' slug=lobby.slug %}">
            <button>Подключиться</button>
            </a>

            {% else %}
            <button disabled title="Для подключения необходимо покинуть предыдущее лобби">Подключиться</button>
            {% endif %}
        </li>
        <hr>
        {% endfor %}
    {% else %}
    <h1>Не обнаружено доступных серверов для подключения</h1>
    {% endif %}
    </ul>
</div>



<div id="sidebar">
    <h2>Фильтры</h2>
    <label for="price-range">Цена:</label>
    <input type="range" id="price-range" min="0" max="100" value="50">
    <button id="apply-filters">Применить фильтрацию</button>
</div>
{% endblock %}
