{% extends 'twim_skill_site/templates/base.html' %}

{% block content %}
<h1> Успешное создание лобби </h1>
 <h1>Детали лобби</h1>

    <p>Название лобби: {{ lobby.map }}</p>
    <p>Ставка: {{ lobby.bet }}</p>
    <p>Пароль для лобби: {{ lobby.password_lobby }}</p>
    <p>Максимальный уровень для входа: {{ lobby.max_lvl_enter }}</p>

    <p>Количество игроков в лобби: {{ count_players_in_lobby }}</p>

{% if not user_lobby_data.user_in_lobby  %}
<a href="{% url 'join_lobby' slug=lobby.slug %}" class="join-lobby-button">Присоединиться к лобби</a>
{% else  %}
<a href="{% url 'leave_f_lobby' %}" class="create-lobby-button">Выйти из лобби</a>
{% endif %}

<a href="/">На главную</a>
{% endblock %}