<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TwimSkillMain</title>
</head>
<body>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<div id="header">
    {% if user_lobby_data.user_in_lobby %}
    <a href="{% url 'detail_lobby' slug=user_lobby_data.user_lobby_slug %}" class="return-to-lobby-button">Вернуться к лобби</a>
    {% endif %}
    {% if user.is_authenticated %}
    {% with faceit_user_data=user_data.faceit_user_data %}
    <p>facietlvl: {% if faceit_user_data %} {{ faceit_user_data.games.0.skill_level }} {% else %} НЕТ ДАННЫХ {% endif %}, twim coin: НЕТ ДАННЫХ, twim-lvl: НЕТ ДАННЫХ</p>
    {% endwith %}
    <a href="/profile">Профиль</a>
    {% else %}
    {% load socialaccount %}
    {% get_providers as socialaccount_providers %}
    {% for provider in socialaccount_providers %}
    {% if provider.id == "openid" %}
    {% endif %}
      <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
         href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">Войти через {{provider.name}}</a>
    {% endfor %}
{% endif %}
</div>
<div id="content">
    <h1>Доступные серверы</h1>
    <ul id="servers">
        <!-- Здесь будут добавляться серверы динамически -->

        <li>
            <p>Тип игры: Deathmatch</p>
            <p>Карта: de_dust2</p>
            <p>Свободных мест: 5/16</p>
            <p>Требуемый уровень: 1+</p>
            <button>Подключиться</button>
        </li>
        <hr>
        <li>
            <p>Тип игры: Capture the Flag</p>
            <p>Карта: cs_office</p>
            <p>Свободных мест: 8/32</p>
            <p>Требуемый уровень: 3+</p>
            <button>Подключиться</button>
        </li>
    </ul>
</div>
<div id="sidebar">
    <h2>Фильтры</h2>
    <label for="price-range">Цена:</label>
    <input type="range" id="price-range" min="0" max="100" value="50">
    <button id="apply-filters">Применить фильтрацию</button>
</div>
</body>
</html>
