<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой аккаунт</title>
</head>
<body>
<h1>Данные вашего аккаунта Steam:</h1>
<img src="{{ steam_user_data.extra_data.avatarfull}}">
<br>
Никнейм: {{steam_user_data.extra_data.personaname}}
<br>
<a href="{{steam_user_data.extra_data.profileurl}}">Ссылка на профиль</a>
<br>
<br>
{% if faceit_user_data %}
<h1>Данные вашего аккаунта FaceIT</h1>
<img src="{{ faceit_user_data.avatar}}"><br>
id: {{ faceit_user_data.id }}<br>
guid: {{ faceit_user_data.guid }}<br>
Никнейм: {{ faceit_user_data.nickname }}<br>
Статус: {{ faceit_user_data.status }}<br>
Страна: {{ faceit_user_data.country }}<br>
Верификация: {{ faceit_user_data.verified }}<br>

{% if faceit_user_data.games %}
<h2>Ваши игры</h2>
{% for game in faceit_user_data.games %}
Игра: {{ game.name }}<br>
Уровень: {{ game.skill_level }}<br><br>
{% endfor %}
{% endif %}

{% else %}
<h1>Профиль FaceIt не обнаружен</h1>
{% endif %}
<a href="{% url 'account_logout' %}">Выйти</a> | <a href="/">На главную</a>

{% if user_in_lobby %}
<a href="{% url 'detail_lobby' slug=user_lobby_slug %}" class="return-to-lobby-button">Вернуться к лобби</a>
{% else %}
<a href="{% url 'create_lobby' %}" class="create-lobby-button">Создать лобби</a>
{% endif %}

</body>
</html>